body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {
    max-width: 280px;
}

table.curveTable
{
    border: 9px solid black;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
	text-align: center;
}

table.curveTable th {
	text-align: center;
}

hr.style-five {
	border: 0;
    height: 0; 
	-webkit-box-shadow: 0 0 10px 1px black;
	-ms-box-shadow: 0 0 10px 1px black;
	box-shadow: 0 0 10px 1px black;
}

hr.style-five:after {  
    content: "\00a0"; 
}